<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head> <title> Avaliação de Desempenho </title> </head>
<link rel="stylesheet" href="../assets/stylesheets/bootstrap.css">
<link rel="stylesheet" href="../assets/stylesheets/style.css">

<body>

<div class="all">
		<header>
			<div class="allheader">
				<div class="logo">
					<img src="../assets/images/logo.png">
				</div>
				<div class="titulo">
					<h2> Avaliação de Desempenho</h2>
				</div>
				<div class="btn-group">
				  <button class="btn" onlick="index.html" id="btnLogout">Logout</button>
				</div>
			</div>

		</header>

	
		<div class="content">
			<nav class="menu">
				<ul id="men">
					<li><a href="cadastrar.html"> Cadastrar Membro       </a></li>
					<li><a href="avaliar.html">   Avaliar Membro     </a></li>
					<li><a href="atividademembros.html"> Membros       </a></li>
					<li><a href="atividademinhasavaliacoes.html"> Minhas Avaliações       </a></li>
				</ul>
			</nav>	
		

			<div class="formavaliar">
				<form class="avaliar" method="get" action="">
					<div class="label">
						Lista de Membros:
					</div>
					<div class="inputs">
						<select name="selecionarmembro">
							<option value="ru">Ruan Vieira</option>
							<option value="marco">Marco Lançamento</option>
							<option value="hio">Hiolanda Mestra</option>
							<option value="gabe">Gabriel Pilantra</option>
						</select>
					</div>
					<div class="label">
						Comunicação:
					</div>
					<div class="inputs">
						<select name="comuni">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
					<div class="label">
						Comentário sobre Comunicação:
					</div>
					<div class="inputs">
						<textarea name="comcomuni" rows="5" cols ="30"></textarea>
					</div>
					<div class="label">
						Comprometimento:
					</div>
					<div class="inputs">
						<select name="compro">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
					<div class="label">
						Comentário sobre Comprometimento:
					</div>
					<div class="inputs">
						<textarea name="comcompro" rows="5" cols ="30"></textarea>
					</div>
					<div class="label">
						Trabalho em Equipe:
					</div>
					<div class="inputs">
						<select name="trabequip">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
					<div class="label">
						Comentário sobre Trabalho em Equipe:
					</div>
					<div class="inputs">
						<textarea name="comtrabequip" rows="5" cols ="30"></textarea>
					</div>
					<div class="label">
						Foco em Resultado:
					</div>
					<div class="inputs">
						<select name="focemresult">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
					<div class="label">
						Comentário sobre Foco em Resultado:
					</div>
					<div class="inputs">
						<textarea name="comfocemresult" rows="5" cols ="30"></textarea>
					</div>
					<div class="label">
						Proatividade:
					</div>
					<div class="inputs">
						<select name="proativ">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
					<div class="label">
						Comentário sobre Proatividade:
					</div>
					<div class="inputs">
						<textarea name="comproativ" rows="5" cols ="30"></textarea>
					</div>
					<div class="label">
						Trabalho Sob Pressão:
					</div>
					<div class="inputs">
						<select name="trabpress">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
					<div class="label">
						Comentário sobre Trabalho sob Pressão:
					</div>
					<div class="inputs">
						<textarea name="comtrabpress" rows="5" cols ="30"></textarea>
					</div>
					<button type="submit" class="btn">Avaliar Membro</button>
					<button type="reset" class="btn">Limpar</button>
				</form>
			</div>
		</div>
</div>


<footer>
		<div class="rodape">
			<div class="logofooter">
				<img src="../assets/images/logo.png">
			</div>
			<div class="creditos">
				<h2> Desenvolvido Pela Diretoria de Recursos Humanos</h2>
			</div>
        
		</div>
	</footer>

</body>


</html>
