<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head> <title> Avaliação de Desempenho </title> </head>
<link rel="stylesheet" href="../assets/stylesheets/bootstrap.css">
<link rel="stylesheet" href="../assets/stylesheets/style.css">

<body>

<div class="all">
		<header>
			<div class="allheader">
				<div class="logo">
					<img src="../assets/images/logo.png">
				</div>
				<div class="titulo">
					<h2> Avaliação de Desempenho</h2>
				</div>
				<div class="btn-group">
				  <button class="btn" onlick="index.html" id="btnLogout">Logout</button>
				</div>
			</div>

		</header>

	
		<div class="content">
			<nav class="menu">
				<ul id="men">
					<li><a href="cadastrar.html"> Cadastrar Membro       </a></li>
					<li><a href="avaliar.html">   Avaliar Membro     </a></li>
					<li><a href="membros.html"> Membros       </a></li>
					<li><a href="avaliacoes.html"> Minhas Avaliações       </a></li>
				</ul>
			</nav>	
		

			<div class="formcadastro">
				<form class="cadastro" method="get" action="">
					<div class="label">
						Nome:
					</div>
					<div class="inputs">
						<input type="text" name="nomemembro" size=12 maxlength=25 title="Digite o nome do membro">
					</div>
					<div class="label">
						E-mail:
					</div>
					<div class="inputs">
						<input type="email" name="emailmembro" size=12 maxlength=20 title="Digite o email do membro">
					</div>
					<div class="label">
						Cargo:
					</div>
					<div class="inputs">
						<input type="text" name="cargomembro" size=12 maxlength=20 title="Digite o cargo do membro">
					</div>
					<div class="label">
						Diretoria:
					</div>
					<div class="inputs">
						<input type="text" name="diretoriamembro" size=12 maxlength=20 title="Digite a diretoria do membro">
					</div>
					<button type="submit" class="btn">Cadastrar Membro</button>
					<button type="reset" class="btn">Limpar</button>
				</form>
			</div>
		</div>
</div>


<footer>
		<div class="rodape">
			<div class="logofooter">
				<img src="../assets/images/logo.png">
			</div>
			<div class="creditos">
				<h2> Desenvolvido Pela Diretoria de Recursos Humanos</h2>
			</div>
        
		</div>
	</footer>

</body>


</html>
