<html>
<meta charset="UTF-8">
<head> <title> Avaliação de Desempenho </title> </head>
<link rel="stylesheet" href="../assets/stylesheets/bootstrap.css">
<link rel="stylesheet" href="../assets/stylesheets/style.css">

<body>

	<div class="all">
		<header>
			<div class="allheader">
				<div class="logo">
					<img src="../assets/images/logo.png">
				</div>
				<div class="titulo">
					<h2> Avaliação de Desempenho</h2>
				</div>
				<div class="btn-group">
				  <button class="btn" href="index.html" id="btnLogout">Logout</button>
				</div>
			</div>

		</header>

	
		<div class="content">
				<form class="form-horizontal" action="home.html">
				  <div class="control-group">
				    <label class="control-label" for="inputEmail">Usuário:</label>
				    <div class="controls">
				      <input type="text" id="inputEmail" placeholder="Usuário">
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputPassword">Senha:</label>
				    <div class="controls">
				      <input type="password" id="inputPassword" placeholder="Senha">
				    </div>
				  </div>
				  <div class="control-group">
				    <div class="controls">
				      <button type="submit" class="btn">Entrar</button>
				    </div>
				  </div>
				</form>
		</div>
	</div>

	<footer>
		<div class="rodape">
			<div class="logofooter">
				<img src="../assets/images/logo.png">
			</div>
			<div class="creditos">
				<h2> Desenvolvido Pela Diretoria de Recursos Humanos</h2>
			</div>
        
		</div>
	</footer>
</body>
</html>
